.video-container {
    background-color: #121212;
    width: calc(100vw - 220px);
    height: calc(100vh - 108px);
    overflow-y: scroll;
    margin-left: 220px;
}

.video-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

/* responsive css */

@media screen and (max-width: 1599px) {
    .video-container {
        width: calc(100vw - 68px);
        margin-left: 68px;
    }
    .video-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
}

@media screen and (max-width: 1050px) {
    .video-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}

@media screen and (max-width: 740px) {
    .video-items {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .video-container {
        width: 100vw;
        margin-left: 0px;
    }
}



